{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "@vue/airbnb",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "max-len": 150
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.ts",
        "**/tests/unit/**/*.spec.ts"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}