// fonts
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$FontPathOpenSans: '~open-sans-fonts/open-sans';

// background colors
$color-bg-primary: #1D1E25;
$color-bg-secondary: #333641;
$color-bg-tertiary: #3D404B;
$color-bg-quaternary: #454857;

// foreground colors
$color-primary: #fff;
$color-secondary: #9ca0b1;
$color-shadow: #000;

// sizes
$border-width: 1px;
$scrollbar-width: 3px;
