body {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: system-ui;
  min-height: 100vh;
  max-height: 100vh;
  overscroll-behavior: contain;

  --font-family: system-ui;

  --color-bg-primary: #{$color-dark-bg-primary};
  --color-bg-secondary: #{$color-dark-bg-secondary};
  --color-bg-tertiary: #{$color-dark-bg-tertiary};
  --color-bg-quaternary: #{$color-dark-bg-quaternary};

  // foreground colors
  --color-primary: #{$color-dark-primary};
  --color-secondary: #{$color-dark-secondary};
  --color-shadow: #{$color-dark-shadow};

  --saturation: 70%;
  --lightness: 70%;

  --color-hi-z: darkred;
  --color-off: gray;
  --color-on: green;
  --color-selection: var(--color-secondary);

  background-color: var(--color-bg-primary);
}

@media (prefers-color-scheme: light) {
  body {
    --color-bg-primary: #{$color-light-bg-primary};
    --color-bg-secondary: #{$color-light-bg-secondary};
    --color-bg-tertiary: #{$color-light-bg-tertiary};
    --color-bg-quaternary: #{$color-light-bg-quaternary};

    // foreground colors
    --color-primary: #{$color-light-primary};
    --color-secondary: #{$color-light-secondary};
    --color-shadow: #{$color-light-shadow};

    --saturation: 40%;
    --lightness: 50%;

    --color-hi-z: darkred;
    --color-off: gray;
    --color-on: green;
  }
}

.printer-friendly {
  --color-bg-primary: #fff;
  --color-bg-secondary: #fff;
  --color-bg-tertiary: #fff;
  --color-bg-quaternary: #fff;

  // foreground colors
  --color-primary: #000;
  --color-secondary: #000;
  --color-shadow: #000;

  --color-off: #fff;
}

.printer-friendly, .image-friendly {
  --color-selection: transparent !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: $color-bg-primary;
    --color-bg-secondary: $color-bg-secondary;
    --color-bg-tertiary: $color-bg-tertiary;
    --color-bg-quaternary: $color-bg-quaternary;

    // foreground colors
    --color-primary: $color-primary;
    --color-secondary: $color-secondary;
    --color-shadow: $color-shadow;
  }
}

:root {
  --color-bg-primary: $color-bg-primary;
  --color-bg-secondary: $color-bg-secondary;
  --color-bg-tertiary: $color-bg-tertiary;
  --color-bg-quaternary: $color-bg-quaternary;

  // foreground colors
  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
  --color-shadow: $color-shadow;

  // sizes
  --integrated-circuit-wire-height: 35px;
}

// background colors
