<!DOCTYPE html>
<html>
  <head>
    <meta name="color-scheme" content="dark light" />
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div
      class="splash"
      style="display: none"
    >
      <img
        src="logo.svg"
        alt="<%= htmlWebpackPlugin.options.title %>"
        width="100"
      />
      <h1 class="splash__title">
        <%= htmlWebpackPlugin.options.title %>
      </h1>
      <div class="splash__loader">
        <div class="splash__loader-bar"></div>
      </div>
    </div>
  </body>
</html>
